<launch>

  <!-- Filtration parameters -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />

  <!-- <arg name="cloud_file" default="$(find naki_gazebo_resources)/pcd/stara_voda.pcd" /> -->
  <arg name="cloud_file" default="/home/mrs/git/darpa_core/data/pcd/byci_skala/byci_skala_drone.pcd" />
  <arg name="publish_rate" default="1.0" />
  <arg name="frame_id" default="$(arg UAV_NAME)/global_origin" />
  <arg name="load_colors" default="false" />

  <arg name="nodelet" default="standalone" />
  <arg name="nodelet_manager" default="" />
  <arg name="launch_prefix" default=""/>

  <group ns="$(arg UAV_NAME)">
    <node pkg="nodelet" type="nodelet" name="pcd_to_ros_network" args="$(arg nodelet) mrs_pcl_tools/PCLPublishCloudFileToNetwork $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)" >

      <!-- Parameters -->
      <param name="file_cloud" type="string" value="$(arg cloud_file)" />
      <param name="rate" type="double" value="$(arg publish_rate)" />
      <param name="frame_id" type="string" value="$(arg frame_id)" />
      <param name="load_colors" type="bool" value="$(arg load_colors)" />

      <!-- Remap -->
      <remap from="~cloud_out" to="pcd2ros/cloud" />
      
    </node>
  </group>
</launch>
