<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="map_frame" default="global_origin" />

  <arg name="target_pcd" default="$(find naki_gazebo_resources)/models/olomouc_marie_snezna/pcd/olomouc_marie_snezna.pcd" />
  <arg name="source_pcd" default="$(find naki_gazebo_resources)/models/olomouc_marie_snezna/pcd/olomouc_marie_snezna_start_A.pcd" />
  <arg name="topic_pointcloud2" default="octomap_point_cloud_centers" />

  <arg name="nodelet" default="standalone" />
  <arg name="nodelet_manager" default="" />
  <arg name="launch_prefix" default=""/>
  
  <arg name="default_config" default="$(find mrs_pcl_tools)/config/pcl2map_registration_default.yaml" />
  <arg name="custom_config" default="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="pc2map" args="$(arg nodelet) mrs_pcl_tools/PCL2MapRegistration $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)" >

      <!-- Parameters -->
      <param name="target_pcd" type="string" value="$(arg target_pcd)" />
      <param name="source_pcd" type="string" value="$(arg source_pcd)" />
      <param name="map_frame" type="string" value="$(arg map_frame)" />
      <param name="topic_pointcloud2" type="string" value="$(arg topic_pointcloud2)" />

      <rosparam file="$(arg default_config)" />
      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <!-- Publishers -->
      <remap from="~cloud_source_out" to="registration/source" />
      <remap from="~cloud_target_out" to="registration/target" />
      <remap from="~cloud_aligned_out" to="registration/aligned" />
      <remap from="~dbg_hull_source_out" to="registration/dbg/hull_source" />
      <remap from="~dbg_hull_target_out" to="registration/dbg/hull_target" />

      <!-- Service servers -->
      <remap from="~srv_register_offline" to="~register/offline" />
      <remap from="~srv_register_online" to="~register/pointcloud2" />

    </node>

  </group>

</launch>
